*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #956f6f;
}
#input-body{
    display:flex;
    flex-direction: column;
}
.namesLi{
    color:white;
    text-align: center;
}
#generate{
    margin-top: 62%;
    height: 9%;
    width: 88%;
    margin-left: 6%;
    background-color: #9b1037;;
    color: #e3bbbb;
    border-color: #d56a6a;
}

#main-container{
    display: flex;
    width: 30%;
    height: 65%;
}
.input-fields{
    text-align: center;
}
.input-box{
    height: 32%;
    margin-top: 4%;
    width: 91%;
    background-color: #f9bfbf;
    text-align: center;
}
#team-container{
    margin: 6% 4% 0% 45%;

}
#team-count{
    width: 39%;
    height: 6%;
    background-color: #6A2323;
    margin-bottom: 10px;
    margin-right: -6%;
    color: white;
    padding: 0% 0% 0% 0.5%;
}
#input-body{
    display: flex;
    width: 68%;
    height: 74%;
    margin: 16% 0% 0% 16%;
    background-color: #6A2323;
}
#generated-names{
    background-color: darkred;
    float: right;
    width: 20%;
    height: 52%;
    margin-left: 7%;
}
.generate:hover{
    cursor: pointer;
}
.namesLi{
    margin-top: 17.8%;
    margin-left: 10%;
    color: #00ffcf;
}
#title{
    display: flex;
    flex-direction: column;
    color: #9b1037;
}
#text-container{
    text-align: center;
    margin-left: -9%;
}
